<form class="flex-column" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>User Name</mat-label>
    <input matInput type="text" id="userName" formControlName="userName" required>
    <mat-error *ngIf="loginForm.get('userName').invalid && loginForm.get('userName').touched">
      {{userNameError()}}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput type="password" id="password" formControlName="password" required>
    <mat-error *ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">
      {{passwordError()}}
    </mat-error>
  </mat-form-field>
  <div class="flex-right">
    <button mat-raised-button type="submit">Login</button>
  </div>
</form>
