.spacer {
  flex: 1 1 auto;
}
:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.center {
  margin: 50px auto;
}
.table-div {
  width: calc(100vw - 100px);
}
table{
  width: 100%;
}
.flex-row{
  display:flex;
  align-items: center;
  justify-content: center;
}
.flex-row > *{
  margin: 5px 10px
}
.flex-row > mat-form-field{
  flex: 1
}
.flex-column{
  display: flex;
  flex-direction: column;
}
.flex-right{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
