<form class="flex-column" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>User Name</mat-label>
    <input matInput type="text" id="userName" formControlName="userName" required>
    <mat-error *ngIf="registrationForm.get('userName').invalid && registrationForm.get('userName').touched">
      {{userNameError()}}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput type="text" id="email" formControlName="email" required>
    <mat-error *ngIf="registrationForm.get('email').invalid && registrationForm.get('email').touched">
      Please enter a valid email
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput type="password" id="password" formControlName="password" required>
    <mat-error *ngIf="registrationForm.get('password').invalid && registrationForm.get('password').touched">
      {{passwordError()}}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>First Name</mat-label>
    <input matInput type="text" id="firstName" formControlName="firstName" required>
    <mat-error *ngIf="registrationForm.get('firstName').invalid && registrationForm.get('firstName').touched">
      {{firstNameError()}}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Last Name</mat-label>
    <input matInput type="text" id="lastName" formControlName="lastName" required>
    <mat-error *ngIf="registrationForm.get('firstName').invalid && registrationForm.get('firstName').touched">
      {{lastNameError()}}
    </mat-error>
  </mat-form-field>
  <div>
    <label>User Roles</label>
    <mat-radio-group class="flex-column" formControlName="selectedRole">
      <mat-radio-button *ngFor="let role of roles" [value]="role.name">
        {{role.name}}
      </mat-radio-button>
    </mat-radio-group>
  </div>
  <div class="flex-right">
    <button mat-raised-button [disabled]="registrationForm.invalid" type="submit">Create User</button>
    <div class="alert alert-warning" *ngIf="submitted && !isRegistered">
      Signup failed- {{ errorMessage }}
    </div>
    <div class="alert alert-success" *ngIf="isRegistered">
      User successfully added!
    </div>
  </div>
</form>
